<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<script src="https://use.fontawesome.com/1fb83c4298.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="out/master.css">
		<link rel="stylesheet" href="out/lightbox.min.css">
		
		<meta property="og:type" content="place" />
		<meta property="og:title" content="FOR SALE: 207 Mercer Drive 4 Bd/2.5 Ba"/>
		<meta name="og:description" content="This beautiful home in popular Manor at Twin Creeks</b> is less than 30 minutes from main street Greenville. This family friendly community is minutes from downtown Simpsonville, Five Forks, Woodruff Road shopping, and easy access to I-385 and I-85.">
		<meta property="og:url" content="http://207mercer.com"/>
		<meta property="greenville:location:latitude" content="34.7880258" />
	    <meta property="greenville:location:longitude" content="-82.1902492" />
	    <meta property="greenville:street_address" content="207 Mercer Drive" />
	    <meta property="greenville:locality" content="Greenville" />
	    <meta property="greenville:region" content="South Carolina" />
	    <meta property="greenville:postal_code" content="29681" />
	    <meta property="og:site_name" content="207 Mercer Drive"/>

		<meta property="og:image" content="http://207mercer.com/photos/207mercer-9718.jpg"/>
		

		<meta name="twitter:site" content="@briankalwat">
		<meta name="twitter:creator" content="@briankalwat">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="http://207mercer.com/photos/207mercer-9718.jpg">
		<meta name="twitter:title" content="FOR SALE: 207 Mercer Drive 4 Bd/2.5 Ba">
		<meta name="twitter:description" content="This beautiful home in popular Manor at Twin Creeks</b> is less than 30 minutes from main street Greenville. This family friendly community is minutes from downtown Simpsonville, Five Forks, Woodruff Road shopping, and easy access to I-385 and I-85.">
	</head>
	<body>

		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}

		<script src="out/lightbox-plus-jquery.min.js"></script>
		<script>
		    lightbox.option({
		      'resizeDuration': 100,
		      'fadeDuration': 100,
		      'wrapAround': true
		    })
		</script>
	</body>
</html>